body{
    font-family: 'Droid Sans', arial,serif;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 115px;
    background-image: url('../images/dark_gray_tile.jpg');
}

marquee{
    padding-bottom: 1px;
}

#container{
    width: auto;
    height: 66px;
    padding: 0px;
    margin: 0px;
    background-image: url('../images/light_gray_tile.jpg');
    border: solid;
    border-width: 3px;
    bottom: 0;
    position: absolute;
    border-color: #d2732f;
    overflow: hidden;
}

    #album_art{
        width: 60px;
        height: 60px;
        float: left;
        margin: 2px;
        padding: 0px;
        background: url('../images/sprite.png') 0px 0px;
        border: solid;
        border-width: 1px;
        border-color: black;
    }

    #track_info{
    margin: 2px;
    width: 172px;
    float: left;
    }
    
        #artist_name{
        padding: 0px;
        height: 20px;
        font-weight: bold;
        font-size: 14px;        
        overflow: hidden;   
        }
        
        #track_name{
        padding: 0px;
        height: 20px;
        font-size: 14px;        
        overflow: hidden;       
        margin-left: auto;
        margin-right: auto;
        }
        
        #time_info{
            margin: 0px;
            margin-top: 8px;
            padding: 0px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
        }
        
        #cur_time{
            height: 14px;
            font-size: 12px;
            padding: 0px;
            margin: 0px;
            float: left;
        }
        
        #total_time{
            height: 14px;
            font-size: 12px;
            padding: 0px;
            margin: 0px;
            float: left;
        }
  
#shuffle_button{
    width: 30px;
    height: 20px;   
    cursor: pointer;
    position: absolute;

    top: 12px;
    right: 2px; 
    opacity: .1;
}
#shuffle_button:hover{
    background-position: -240px -30px;
}

.shuffle_off{
    background: url('../images/sprite.png') -240px 0px;
}
.shuffle_on{
    background: url('../images/sprite.png') -240px -60px;
}

#repeat_button{
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 2px;  
    
    opacity: .1;
}
.repeat_off{
    background: url('../images/sprite.png') -180px 0px; 
}
.repeat_off:hover{
    background-position: -180px -30px;
}
.repeat_all{
    background: url('../images/sprite.png') -180px -60px;   
}
.repeat_all:hover{
    background-position: -180px -30px;
}
.repeat_one{
    background: url('../images/sprite.png') -210px -60px;
}
.repeat_one:hover{
    background-position: -210px -30px;
}
            
#previous_track{
    width: 30px;
    height: 30px;
    background: url('../images/sprite.png') -150px 0px; 
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 70px; 
    opacity: .1;
}
#previous_track:hover{
    background-position: -150px -30px;
}

#play_pause{    
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 112px;
    opacity: .1;
}

.play{
    background: url('../images/sprite.png') -60px 0px;  
}

.pause{
    background: url('../images/sprite.png') -90px 0px;  
}

.play:hover{
    background-position: -60px -30px;
}

.pause:hover{
    background-position: -90px -30px;
}

#next_track{    
    width: 30px;
    height: 30px;
    background: url('../images/sprite.png') -120px 0px; 
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 150px;
    opacity: .1;    
}   
#next_track:hover{
    background-position: -120px -30px;
}

#thumbs_up_button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 40px; 
    opacity: .1;
}  
#thumbs_up_button:hover{
    background-position: -270px -30px;
}
.thumbs_up_off{
    background: url('../images/sprite.png') -270px 0px; 
}

.thumbs_up_on{
    background: url('../images/sprite.png') -270px -60px;   
}

#thumbs_down_button{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 40px; 
    opacity: .1;
}  
#thumbs_down_button:hover{
    background-position: -300px -30px;
}
.thumbs_down_off{
    background: url('../images/sprite.png') -300px 0px;
}
.thumbs_down_on{
    background: url('../images/sprite.png') -300px -60px;
}

